<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="referrer" content="always">
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="static/css/style_1_common.css" th:href="@{/css/style_1_common.css}">
    <link rel="stylesheet" type="text/css" href="https://dn-linuxcn.qbox.me/data/cache/style_1_portal_view.css" />
    <link rel="stylesheet" href="css/responsive.css" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" href="static/css/style_1_portal_list.css" th:href="@{/css/style_1_portal_list.css}">
    <!--<link rel="stylesheet" href="https://dn-linuxcn.qbox.me/static/js/prettify/prettify.css" type="text/css">-->
    <link rel="stylesheet" href="static/css/styles/monokai.css" th:href="@{/css/styles/monokai.css}">
    <script src="https://cdn.bootcss.com/showdown/1.9.0/showdown.min.js"></script>
    <script src="https://dn-linuxcn.qbox.me/static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>
    <title>Java程序员的编程笔记</title>
    <meta name="keywords" content="如何使用不同的方式更改 Linux 用户密码">
    <meta name="description" content="在 Linux 中创建用户账号时，设置用户密码是一件基本的事情。 ">
    <meta name="copyright" content="2018-2019 Booksp.cn">
</head>