<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="wp" th:fragment="header">
    <div id="topmenu_wrapper" style="height: 33px;">
        <div id="topmenu" class="affix-top" style="padding-left: 180px; width: 1020px;">
            <div id="nv">
                <ul>
                    <li style="width: 179px; display: none;"><a href="/" hidefocus="true" style="font-weight: bold; padding: 0px 45px;">Linux中国</a></li>
                    <li initialized="true" th:each="type : ${types}"><a href="#" hidefocus="true" style="color: #FFFAE5;" th:text="${type.name}" th:href="@{'/t/' + ${type.name} + '/1'}">TAB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>