<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.booksp.blog.mapper.AccessLogMapper">
  <resultMap id="BaseResultMap" type="cn.booksp.blog.common.pojo.AccessLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="ipv4" jdbcType="VARCHAR" property="ipv4" />
    <result column="ipv6" jdbcType="VARCHAR" property="ipv6" />
    <result column="access_time" jdbcType="TIMESTAMP" property="accessTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, ipv4, ipv6, access_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from access_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from access_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.booksp.blog.common.pojo.AccessLog">
    insert into access_log (id, user_id, ipv4, 
      ipv6, access_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{ipv4,jdbcType=VARCHAR}, 
      #{ipv6,jdbcType=VARCHAR}, #{accessTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.booksp.blog.common.pojo.AccessLog">
    insert into access_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="ipv4 != null">
        ipv4,
      </if>
      <if test="ipv6 != null">
        ipv6,
      </if>
      <if test="accessTime != null">
        access_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ipv4 != null">
        #{ipv4,jdbcType=VARCHAR},
      </if>
      <if test="ipv6 != null">
        #{ipv6,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null">
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.booksp.blog.common.pojo.AccessLog">
    update access_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="ipv4 != null">
        ipv4 = #{ipv4,jdbcType=VARCHAR},
      </if>
      <if test="ipv6 != null">
        ipv6 = #{ipv6,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null">
        access_time = #{accessTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.booksp.blog.common.pojo.AccessLog">
    update access_log
    set user_id = #{userId,jdbcType=INTEGER},
      ipv4 = #{ipv4,jdbcType=VARCHAR},
      ipv6 = #{ipv6,jdbcType=VARCHAR},
      access_time = #{accessTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>