<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.booksp.blog.mapper.SoftwareMapper">
  <resultMap id="BaseResultMap" type="cn.booksp.blog.common.pojo.Software">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="baiduyun" jdbcType="VARCHAR" property="baiduyun" />
    <result column="csdn" jdbcType="VARCHAR" property="csdn" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, version, url, baiduyun, csdn, release_time, upload_time, intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from software
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from software
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.booksp.blog.common.pojo.Software">
    insert into software (id, name, version, 
      url, baiduyun, csdn, 
      release_time, upload_time, intro
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{baiduyun,jdbcType=VARCHAR}, #{csdn,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=TIMESTAMP}, #{uploadTime,jdbcType=TIMESTAMP}, #{intro,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.booksp.blog.common.pojo.Software">
    insert into software
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="baiduyun != null">
        baiduyun,
      </if>
      <if test="csdn != null">
        csdn,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="intro != null">
        intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="baiduyun != null">
        #{baiduyun,jdbcType=VARCHAR},
      </if>
      <if test="csdn != null">
        #{csdn,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.booksp.blog.common.pojo.Software">
    update software
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="baiduyun != null">
        baiduyun = #{baiduyun,jdbcType=VARCHAR},
      </if>
      <if test="csdn != null">
        csdn = #{csdn,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.booksp.blog.common.pojo.Software">
    update software
    set name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      baiduyun = #{baiduyun,jdbcType=VARCHAR},
      csdn = #{csdn,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      intro = #{intro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>