<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="script">
    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js" th:src="@{/admin_lte/bower_components/jquery/dist/jquery.min.js}"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/admin_lte/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- DataTables -->
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{/admin_lte/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{/admin_lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <!-- Slimscroll -->
    <script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{/admin_lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
    <!-- FastClick -->
    <script src="bower_components/fastclick/lib/fastclick.js" th:src="@{/admin_lte/bower_components/fastclick/lib/fastclick.js}"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js" th:src="@{/admin_lte/dist/js/adminlte.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js" th:src="@{/admin_lte/dist/js/demo.js}"></script>
</div>